extends layout

block content
  style.
    /* Add your styles here */
    body {
      background-color: #f4f4f4;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #333;
    }

    form {
      max-width: 500px;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 18px;
      margin-top: 15px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      background-color: #4caf50;
      color: orange;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

  h1= title
  if (toShow == null)
    h2 There is no instance to be updated
  else
    - let Giraffeid = toShow._id
    - let Giraffe_breed = toShow.Giraffe_breed
    - let Giraffe_age = toShow.Giraffe_age
    - let Giraffe_heightfeet = toShow.Giraffe_heightfeet
    - let actionid=''
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{Giraffeid}

    - actionid = "/resource/Giraffe/" + Giraffeid
    form(id='GiraffeForm', action= actionid, method="PUT")
      div.form-group
        label.GiraffeAttr(for='Giraffe_breed') Giraffe breed
        input#Giraffe_breed(type='text', name='Giraffe_breed', value= Giraffe_breed )

      div.form-group
        label.GiraffeAttr(for='Giraffe_heightfeet') Giraffe height
        input#Giraffe_heightfeet(type='number', name='Giraffe_heightfeet', value= Giraffe_heightfeet )

      div.form-group
        label.GiraffeAttr(for='Giraffe_age') Giraffe age
        input#Giraffe_age(type='number', name='Giraffe_age', value= Giraffe_age )

      input(type="submit")

    script.
      document.forms['GiraffeForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          if(resp.ok){
              alert ("giraffe Data Updated Successfully")
              document.getElementById('GiraffeForm').reset()
          }
          else {
              alert ("Failed to Update Giraffe content")
          }
        }).then((body) => {
          console.log(body)
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });
